<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Countries</title>
</head>
<body>
    <div id="root">
        <form class="form">
            <input 
                v-model="search"
                id="search" 
                class="form__search" 
                placeholder="Search" 
                type="text" />
            <hr />
            <div class="form__content">
                <div class="form__controls">
                    <div>
                        <label class="switch" >
                            <input v-model="onlySelected" id="switcher" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <span>Show selected only</span>
                    </div>
                    <span @click="clear" style="cursor: pointer">Clear all</span>
                </div>
                <div id="countries" class="form__list">
                    <country 
                        :search="search" 
                        :only-selected="onlySelected" 
                        :key="`list_c_${ index }`" :data="item"
                        v-for="(item, index) in countries" 
                    />
                </div>
            </div>
            <hr>
            <button type="submit">Save</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script async src="index.js"></script>
</body>
</html>